# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.clay.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Uni work\Year 3\Advanced Technology\Clay Render\ClayRendering\clay\.idea\.idea.clay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
